/* Start Box */
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}

.d-block {
  display: block;
}
@media (max-width: 767px) {
  .d-block-mobile {
    display: block;
  }
}
/* End Box */

/* Start Padding + Margin */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.p-30 {
  padding: 30px;
}
.p-50 {
  padding: 50px;
}

.m-0 {
  margin: 0;
}
.mt-0 {
  margin-top: 0;
}
.ml-0 {
  margin-left: 0;
}
.mr-0 {
  margin-right: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.m-5 {
  margin: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.m-10 {
  margin: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.m-20 {
  margin: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.m-30 {
  margin: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.ml-30 {
  margin-left: 30px;
}
.mr-30 {
  margin-right: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.m-50 {
  margin: 50px;
}
.mt-50 {
  margin-top: 50px;
}
.ml-50 {
  margin-left: 50px;
}
.mr-50 {
  margin-right: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}
.m-auto {
  margin: auto;
}
.mt-auto {
  margin-top: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mb-auto {
  margin-bottom: auto;
}
/* End Padding + Margin */

/* Start Color */
.bg-white {
  background-color: white;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-red {
  background-color: var(--red-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-eee {
  background-color: #eee;
}

.c-black {
  color: black;
}
.c-white {
  color: white;
}
.c-grey {
  color: #888888;
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-red {
  color: var(--red-color);
}
.c-green {
  color: var(--green-color);
}

.op-02 {
  opacity: 0.2;
}
.op-1 {
  opacity: 1;
}
/* End Color */

/* Start Position */
.p-relative {
  position: relative;
}
/* End Position */

/* Start Font */
.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
@media (max-width: 767px) {
  .text-center-mobile {
    text-align: center;
  }
  .text-start-mobile {
    text-align: start;
  }
  .text-end-mobile {
    text-align: end;
  }
}

.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-25 {
  font-size: 25px;
}
.fs-30 {
  font-size: 30px;
}
.fs-40 {
  font-size: 40px;
}

.bold {
  font-weight: bold;
}
/* End Font */

/* Start Size */
.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}
/* End Size */

/* Start Border */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
/* End Border */

/* Start Button */
.btn,
.btn-sm,
.btn-xs {
  width: fit-content;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.btn-sm {
  font-size: 14px;
}
.btn-xs {
  font-size: 12px;
}
.btn-blue {
  background-color: var(--blue-color);
  color: white;
}
.btn-blue:hover {
  background-color: var(--blue-alt-color);
}
.btn-orange {
  background-color: var(--orange-color);
  color: white;
}
.btn-red {
  background-color: var(--red-color);
  color: white;
}
.btn-green {
  background-color: var(--green-color);
  color: white;
}
.btn-eee {
  background-color: #eee;
  color: black;
}

.rounded-btn {
  width: fit-content;
  padding: 10px;
  border: none;
  border-radius: 50%;
  font-size: 13px;
  font-weight: bold;
  color: var(--grey-color);
  background-color: #eeeeee;
  cursor: pointer;
  transition: 0.3s;
}
.rounded-btn:hover {
  background-color: var(--blue-color);
  color: white;
}

/* End Button */

/* Start Tags */
.tag,
.tag-sm,
.tag-xs {
  width: fit-content;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
}
.tag-sm {
  font-size: 14px;
}
.tag-xs {
  font-size: 12px;
}
.tag-grey {
  background-color: #eeeeee;
  color: black;
}
/* End Tags */

/* Start Components */
/* Start Custom Toggle */
.custom-toggle,
.custom-toggle-sm {
  display: none;
  appearance: none;
}
.custom-toggle + .toggle-switch,
.custom-toggle-sm + .toggle-switch-sm {
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.custom-toggle + .toggle-switch {
  height: 30px;
  width: 75px;
  border-radius: 15px;
}
.custom-toggle-sm + .toggle-switch-sm {
  height: 20px;
  width: 80px;
  border-radius: 10px;
}
.custom-toggle:checked + .toggle-switch,
.custom-toggle-sm:checked + .toggle-switch-sm {
  background-color: var(--blue-color);
}
.custom-toggle:not(:checked) + .toggle-switch,
.custom-toggle-sm:not(:checked) + .toggle-switch-sm {
  background-color: #cccccc;
}
.custom-toggle + .toggle-switch::before,
.custom-toggle-sm + .toggle-switch-sm::before {
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  content: "\f00d";
  position: absolute;
  left: 3px;
  bottom: 3px;

  border-radius: 50%;
  background-color: white;
  color: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.custom-toggle + .toggle-switch::before {
  height: 24px;
  width: 24px;
}
.custom-toggle-sm + .toggle-switch-sm::before {
  height: 14px;
  width: 14px;
  font-size: 10px;
}
.custom-toggle:checked + .toggle-switch::before,
.custom-toggle-sm:checked + .toggle-switch-sm::before {
  content: "\f00c";
  color: var(--blue-color);
}
.custom-toggle:checked + .toggle-switch::before {
  left: 48px;
}
.custom-toggle-sm:checked + .toggle-switch-sm::before {
  left: 63px;
}
/* End Custom Toggle */

/* Start Custom CheckBox */
label:has(.custom-checkbox) {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.custom-checkbox {
  display: none;
  appearance: none;
}
.custom-checkbox + .checkbox-switch {
  height: 18px;
  width: 18px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid var(--grey-color);
  margin-right: 15px;
  transition: 0.3s;
}
.custom-checkbox:checked + .checkbox-switch,
label:hover .checkbox-switch {
  border-color: var(--blue-color);
}
.custom-checkbox + .checkbox-switch::before {
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  content: "\f00c";
  font-size: 12px;
  height: 100%;
  width: 100%;
  background-color: var(--blue-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(360deg) scale(0);
  transition: 0.3s;
}
.custom-checkbox:checked + .checkbox-switch::before {
  transform: rotate(0) scale(1);
}
/* End Custom CheckBox */

/* Start Custom Radio Button */
label:has(.custom-radio) {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.custom-radio {
  display: none;
  appearance: none;
}
.custom-radio + .radio-switch {
  height: 20px;
  width: 20px;
  padding: 3px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid var(--grey-color);
  margin-right: 15px;
  transition: 0.3s;
}
.custom-radio:checked + .radio-switch,
label:hover .radio-switch {
  border-color: var(--blue-color);
}
.custom-radio + .radio-switch::before {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: block;
  background-color: var(--blue-color);
  transform: scale(0);
  transition: 0.3s;
}
.custom-radio:checked + .radio-switch::before {
  transform: scale(1);
}
/* End Custom Radio Button */
/* End Components */
